<!DOCTYPE HTML>
<html>
  <head>
    <meta charset = "utf-8">
    <title> Exists </title>
  </head>
  <body>
      <h3> You are already a registered user. Head back to the homepage to start visualizing your data! </h3>
      <p><i><a href ="/"> Return to HomePage </a></i></p>
  </body>
</html>
