<!DOCTYPE HTML>
<html>
  <head>
    <meta charset = "utf-8">
    <title> Sorry! </title>
  </head>
  <body>
      <h3> insert data </h3>
      <p><i><a href ="/newUser"> Return to Sign Up Page </a></i></p>
      <button id="start"> Press to Start! </button>
      <script type="text/javascript" src="/js/promisePrac.js"></script>
  </body>
</html>
