<!DOCTYPE HTML>
<html>
  <head>
    <meta charset = "utf-8">
    <title> Sorry! </title>
  </head>
  <body>
      <h3> Sorry! That is not a registered League of Legends Account. Please ensure your spelling is correct <i>(capitalization matters)</i>. </h3>
      <p><i><a href ="/newUser"> Return to Sign Up Page </a></i></p>
  </body>
</html>
