<!DOCTYPE HTML>
<html>
  <head>
    <meta charset = "utf-8">
    <title> Sign Up! </title>
  </head>
  <body>
    <div id="login">
      <h3> Enter Your League of Legends Summoner Name Below to sign up for LeagueHeatMap </h3>
      <form action ="/addUser" method ="get">
        <fieldset>
          <label>Summoner Name:
          <input type ="text" name = "name" id ="summName">
          <input type ="submit" id="Submit" value ="Submit">
        </fieldset>
      </form>
    </div>
  </body>
</html>
